<manifest package="com.pb.funora">
    <application android:label="Funora" android:theme="@style/Theme.Funora">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
